body, h2,h3,h4,h5,h6 
    {font-family: "Montserrat", sans-serif}
.w3-row-padding img 
    {margin-bottom: 12px
    }

img {
    max-width: 100%;
    height: auto;
}

.w3-sidebar 
    {width: 120px;background: #222;
    }

#main {
    margin-left: 120px
    }
@media only screen and (max-width: 768px) {
    .w3-sidebar {
        width: 100%; /* Make it full-width */
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #222;
        z-index: 1000;
    }

    .w3-sidebar a {
        padding: 10px;
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    #main {
        margin-left: 0; /* Remove left margin */
    }
}
.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    font-size: 500%;
  }
.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust as needed */
}
 
.character-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.c-description {
    text-align: center;
    max-width: 300px;
}
.image-container {
    transition: transform 0.3s ease-in-out;
    margin: 10px;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.image-container:hover {
    transform: scale(1.2);
    background-color: black;
}

.medievalsharp-small {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
    align-items: center;
    font-size: 300%;
}

.landscape-img {

}

.head-image {
    width: 100%;
    height: auto;
}
